.hero-section .card-banner {
  height: 350px;
}
.category-section .btn {
  border-radius: 50%;
}
.products-section .card {
  background: white;
  transition: transform 0.3s;
}
.products-section .card:hover {
  transform: scale(1.05);
}
